<div class="panel panel-primary" style="max-width: 20em">
    <div class="panel-heading"><h1 class="panel-title">Einträge aus einer CSV Datei importieren</h1></div>
    <div class="panel-body">
        <form ng-submit="importCSV()" role="form">
            <div class="form-group">
                <label for="CSVFile">Liter</label>
                <input type="file" id="CSVFile">
            </div>
            <input class="btn btn-primary" type="submit" value="Importieren">
        </form>
    </div>
</div>

